<script src="/js/upstory.js"></script>
<div ng-controller="upStoryController">
    <form>
        <div class="col-sm-11 col-md-11 my-form-film">
            <div class="row">
                <div class="form-group col-sm-8">
                    <h5> Name story</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <textarea name="storyName" class="form-control col-sm-12 col-md-12 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                                id="storyName" rows="5" placeholder="Story's title" style="height: 50px" ng-model="storyName"></textarea>
                        </div>
                        <div class="col-sm-6">
                            <textarea name="storyNameVN" class="form-control col-sm-12 col-md-12 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                                id="storyNameVN" rows="5" placeholder="Tên truyện" style="height: 50px" ng-model="storyNameVN"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <h5>KEY</h5>
                    <textarea class="form-control col-sm-12 col-md-12 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                        rows="5" placeholder="xxxxxxxx" style="height: 50px" ng-model="keyupload"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <textarea name="storyNumber" class="form-control col-sm-12 col-md-12 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                        id="storyNumber" rows="5" placeholder="Nmber" style="height: 50px" ng-model="storyNumber"></textarea>
                </div>
                <div class="col-sm-9">
                    <textarea name="thumbUrl" class="form-control col-sm-12 col-md-12 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                        id="thumbUrl" rows="5" placeholder="thumbUrl" style="height: 50px" ng-model="thumbUrl"></textarea>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-sm-6 inline" style="display: inline-block">
                    <h5> Original</h5>
                    <textarea name="storyOriginal" class="form-control col-sm-12 col-md-12  my-input-film ng-pristine ng-valid ng-empty ng-touched"
                        id="storyOriginal" rows="5" placeholder="Content..." ng-model="storyOriginal"></textarea>
                </div>

                <div class="form-group  col-sm-6 inline" style="display: inline-block">
                    <h5> Vietnamese:</h5>
                    <textarea name="storyVN" class="form-control col-sm-12 col-md-12 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                        id="storyVN" rows="5" placeholder="Viet nam..." ng-model="storyVN"></textarea>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <h5 class=" col-sm-6 col-md-6 "> Vocabs:</h5>
                    <button type="button" class=" col-sm-6 col-md-6 " ng-click="newRowVocab()">
                        <ion-icon name="add"></ion-icon>
                    </button>
                </div>

                <div class="vocab" id="vocabs" ng-mode="vocabs">
                    <div class="row">
                        <textarea class="form-control col-sm-3 col-md-3 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                            placeholder="Word"></textarea>
                        <textarea class="form-control col-sm-1 col-md-1 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                            placeholder="Type"></textarea>
                        <textarea class="form-control col-sm-5 col-md-5 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                            placeholder="Meaning"></textarea>
                        <textarea class="form-control col-sm-3 col-md-3 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                            placeholder="Phonemic"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <h5 class=" col-sm-6 col-md-6 "> Idioms:</h5>
                    <button type="button" class=" col-sm-6 col-md-6 " ng-click="newIdiom()">
                        <ion-icon name="add"></ion-icon>
                    </button>
                </div>

                <div class="vocab" id="idioms" ng-mode="vocabs">
                    <div class="row">
                        <textarea class="form-control col-sm-6 col-md-6 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                            placeholder="Idiom..."></textarea>
                        <textarea class="form-control col-sm-6 col-md-6 my-input-film ng-pristine ng-valid ng-empty ng-touched"
                            placeholder="Meaning..."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-container-right my-bot-form">
            <button type="submit" class="btn btn-primary my-btn text-center animated slideInUp float-" style="margin-right:15px"
                ng-click="upstory()">
                UPLOAD
            </button>
        </div>
    </form>
    <!--</div>-->